@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: #242923;
    color: #f4f5dc;
    margin: 1rem;
}

#main-div {
    font-family: "Ubuntu", sans-serif !important;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
}

/* styles - when not on valid link */

#status-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#status-header {
    font-size: 1.2rem;
    font-weight: bold;
}

#status-para {
    font-size: 1rem;
    text-align: center;
}

#status-para br {
    margin-bottom: 8px;
}

/* styles - when on valid link */

#active-leetcode {
    display: none;
    flex-direction: column;
    align-items: center;
}

#problem-title {
    font-size: 1.2rem;
    font-weight: bold;
}

#hint-btn{
    display: none;
    padding: 10px;
    background: #8ebbff;
    border-radius: 10px;
    outline: none;
    border: none;
}

#hint-btn:hover{
    cursor:pointer;
}

/* spinner */
.loader {
    width: 30px;
    height: 30px;
    border: 6px solid #8ebbff;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin-bottom: 2.5rem;
    display: none;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}